body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* KHUNG ẢNH LỚN */
#image {
    width: 70%;
    height: 420px;
    margin: 20px auto;
    border: 3px solid black;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* GALLERY ẢNH NHỎ */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

/* ẢNH NHỎ */
.gallery img {
    width: 100%;
    height: 160px;   /* TO HƠN */
    object-fit: cover;
    border: 2px solid #444;
    cursor: pointer;
}

.gallery img:focus {
    outline: 3px solid blue;
}
